extends layout

block meta
	meta(name="description", content="")
	//Mobile viewport optimization h5bp.com/ad
	meta(name="HandheldFriendly", content="True")
	meta(name="MobileOptimized", content="320")
	meta(name="viewport", content="width=device-width")
	// iOS web app, delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94
	meta( name="apple-mobile-web-app-capable", content="yes")
	meta( name="apple-mobile-web-app-status-bar-style", content="black")
	// <script>(function(){var a;if(navigator.platform==="iPad"){a=window.orientation!==90||window.orientation===-90?"img/startup-tablet-landscape.png":"img/startup-tablet-portrait.png"}else{a=window.devicePixelRatio===2?"img/startup-retina.png":"img/startup.png"}document.write('<link rel="apple-touch-startup-image" href="'+a+'"/>')})()</script> 
	// The script prevents links from opening in mobile safari. https://gist.github.com/1042026 
	// <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script> 
	
	// Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading 
	meta( http-equiv="cleartype", content="on")
	
block style
	// Home screen icon  Mathias Bynens mathiasbynens.be/notes/touch-icons 
	// For iPhone 4 with high-resolution Retina display: 
	link( rel="apple-touch-icon-precomposed", sizes="114x114", href="img/h/apple-touch-icon.png")
	// For first-generation iPad: 
	link( rel="apple-touch-icon-precomposed", sizes="72x72", href="img/m/apple-touch-icon.png")
	// For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: 
	link( rel="apple-touch-icon-precomposed", href="img/l/apple-touch-icon-precomposed.png")
	// For nokia devices: 
	link( rel="shortcut icon", href="img/l/apple-touch-icon.png")
	
	link( rel="stylesheet", href="lib/codemirror.css")
	link( href="CloudMD.css", media="all", rel="stylesheet", type="text/css")
	link( rel="stylesheet", href="lib/codemirror/theme/neat.css")
	link( rel="stylesheet", href="lib/codemirror/theme/elegant.css")
	link( rel="stylesheet", href="lib/codemirror/theme/night.css")
	link( rel="stylesheet", href="lib/codemirror/theme/monokai.css")
	link( rel="stylesheet", href="lib/codemirror/theme/cobalt.css")
	link( rel="stylesheet", href="lib/codemirror/theme/eclipse.css")
	link( rel="stylesheet", href="lib/codemirror/theme/rubyblue.css")
	link( rel="stylesheet", href="lib/codemirror/theme/lesser-dark.css")
	link( rel="stylesheet", href="lib/codemirror/theme/xq-dark.css")
	
	link( rel="stylesheet", href="lib/util/dialog.css")
	
	link(rel="stylesheet", href="lib/smoke/smoke.css")
	<!-- you only need this if you want to include a theme...duh -->
	link(id="theme", rel="stylesheet", href="lib/smoke/themes/100s.css")
	link( rel="stylesheet", href="lib/add2home.css")
	
	link(rel="stylesheet", href="Themes/ToDo/ToDo.css");
	link(rel='stylesheet', href='lib/keys/keys.css');

	link(rel="stylesheet", href="css/font-awesome.css");
	link(rel="stylesheet", href="lib/vendor/rainbow/themes/solarized-light.css");
	
	style.
		html, body{
			height:100%;
			width:100%;
		}
		
		.CodeMirror-scroll {-webkit-overflow-scrolling: touch;}
		span.CodeMirror-matchhighlight { background: #e9e9e9 }
		.CodeMirror-focused span.CodeMirror-matchhighlight { background: #e7e4ff; !important }
		
		.activeline {background: #e8f2ff !important;}
		#container
		{
			position:absolute;
			-webkit-transition: top 0.25s ease-in-out;
			-moz-transition: top 0.25s ease-in-out;
			-o-transition: top 0.25s ease-in-out;
			display:-moz-box; /* Firefox */
			display:-webkit-box; /* Safari and Chrome */
			display:box;
			width:100%;
			height:100%
		}
		#code
		{
			-moz-box-flex:1.0; /* Firefox */
			-webkit-box-flex:1.0; /* Safari and Chrome */
			box-flex:1.0;
			overflow:scroll;
			position:relative;
		}
		
		#preview
		{
			-moz-box-flex:1.0; /* Firefox */
			-webkit-box-flex:1.0; /* Safari and Chrome */
			box-flex:1.0;
			overflow:scroll;
			position:relative;
		}
		
	
		
block scripts
	script(type="application/javascript", src="lib/add2home.js")
				
	script(src="lib/smoke/smoke.min.js")
	//script(src="lib/iscroll.js");
	
	script( src="lib/codemirror.js")
	script( src="lib/util/formatting.js")
	script( src="lib/util/foldcode.js")
	
	script( src="lib/util/searchcursor.js")
	script( src="lib/util/search.js")
	
	script( src="lib/util/match-highlighter.js")
	
	script( src="lib/codemirror/mode/xml/xml.js")
	script( src="lib/codemirror/mode/markdown/markdown.js")
	
	script( src="lib/marked.js")
	script( src="lib/dat.gui.js")
	script( src="lib/FileSaver.js")
	script( src="lib/BlobBuilder.js")
	script( src="lib/vendor/json2.js")
	script( src="lib/vendor/jquery-1.7.1.js")
	
	script( src="lib/hammer.js")
	script( src="lib/jquery.hammer.js")
	
	script( src="lib/vendor/underscore-1.3.1.js")
	script( src="lib/backbone-min.js")
	script( src="lib/backbone-localstorage.js")

	script( src="lib/vendor/keymaster.js")
	script( src="Themes/ToDo/ToDo.js");
	script( src='lib/keys/keys.js');
	script( src="CloudMD.js")
	
block content
	#container
		#code
		#preview
			.preview_content
			a.expand.mouse_show
				i.icon-resize-full

	#mdapp.pulled_out
		a#db_link
			<svg style="overflow-x: hidden; overflow-y: hidden;" height="40" version="1.1" width="40" xmlns="http://www.w3.org/2000/svg"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); ">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); "><linearGradient style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " id="55390-_0050af-_002c62" x1="0" y1="1" x2="6.123233995736766e-17" y2="0" gradientTransform="matrix(1,0,0,1,-4,-4)"><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="0%" stop-color="#0050af"></stop><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="100%" stop-color="#002c62"></stop></linearGradient></defs><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; opacity: 0; " fill="none" stroke="#ffffff" d="M17.078,22.004L15.32,17.875L13.313,22.627L5.7940000000000005,19.337999999999997L5.968000000000001,23.243L15.405000000000001,27.616999999999997L26.314,22.251999999999995L26.165,17.262999999999995L17.078,22.004ZM29.454,6.619L18.521,3.383L15.515,6.054L12.424,3.6950000000000003L1.546,8.199L5.341,11.247L1.9080000000000004,16.549L12.786999999999999,21.305999999999997L15.316999999999998,15.307999999999996L17.573999999999998,20.615999999999996L28.967,14.673999999999996L25.862,9.964999999999996L29.454,6.619ZM15.277,14.579L6.218,10.749L15.493,6.648000000000001L25.101,9.903L15.277,14.579Z" stroke-width="3" stroke-linejoin="round" opacity="0" transform="matrix(1,0,0,1,4,4)"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1; " fill="url(#55390-_0050af-_002c62)" stroke="none" d="M17.078,22.004L15.32,17.875L13.313,22.627L5.7940000000000005,19.337999999999997L5.968000000000001,23.243L15.405000000000001,27.616999999999997L26.314,22.251999999999995L26.165,17.262999999999995L17.078,22.004ZM29.454,6.619L18.521,3.383L15.515,6.054L12.424,3.6950000000000003L1.546,8.199L5.341,11.247L1.9080000000000004,16.549L12.786999999999999,21.305999999999997L15.316999999999998,15.307999999999996L17.573999999999998,20.615999999999996L28.967,14.673999999999996L25.862,9.964999999999996L29.454,6.619ZM15.277,14.579L6.218,10.749L15.493,6.648000000000001L25.101,9.903L15.277,14.579Z" transform="matrix(1,0,0,1,4,4)" opacity="1" fill-opacity="1"></path><rect style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; " x="0" y="0" width="32" height="32" r="0" rx="0" ry="0" fill="#000000" stroke="#000" opacity="0"></rect></svg>
	
		#title
			h1 MarkDowns
	
		#content
			
			#docs
				ul(id = "app-list")
				
			ul( id="instructions")
				li Double-click to edit a documents name
			//
				#credits
	
	//Templates
	
	script(type="text/template", id="document-template").
		<div class="view">
			<label class="document-text"><%= name %></label>
			<p><a class="document-download">download</a>
			<a class="document-download-html">html</a></p>
			<a class="document-destroy"></a>
			<div class="sync" style="position: absolute; right: 20px; top: 10px; display:none;"><i class="icon-refresh"></i></div>
			<div class="check" style="position: absolute; right: 10px; top: 10px; display:none;"><i class="icon-check"></i></div>
			<div class="failed_sync" style="overflow: hidden; position: absolute; right: 10px; top: 10px; display:none; "><i class="icon-remove"></i></div>
		</div>
		<div class="edit">
			<input class="document-input" type="text" value="<%= name %>" />
		</div>

	script(type="text/template", id="document-editor-template")
		.code
		.preview
		
	script(type="text/template", id="document-list-template")
		.create-doc
				input(class="new-doc", placeholder="untitled", type="text")
				span(class="ui-tooltip-top", style="display:none;") Press Enter to save this task
		ul(class = "doc-list")
	
	script(type="text/template", id="folder-template").
		<div class="view">
			<label class="document-text"><%= path %></label>
		</div>

	script(src="lib/vendor/rainbow/rainbow.js")
	script(src="lib/vendor/rainbow/language/generic.js")
	script(src="lib/vendor/rainbow/language/javascript.js")
	script(src="lib/vendor/rainbow/language/html.js")
	script(src="lib/vendor/rainbow/language/python.js")
	script(src="lib/vendor/rainbow/language/css.js")
	script(type="text/x-mathjax-config").
		MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
	script( type="text/javascript", src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")


//		
	script(type="text/template", id="folder-list-template")
		.create-file
				input(class="new-file", placeholder="untitled", type="text")
				span(class="ui-tooltip-top", style="display:none;") Press Enter to save this task
		ul(class = "file-list")