extends layout

block meta
	meta(name="description", content="")
	//Mobile viewport optimization h5bp.com/ad
	meta(name="HandheldFriendly", content="True")
	meta(name="MobileOptimized", content="320")
	meta(name="viewport", content="width=device-width")
	// iOS web app, delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94
	meta( name="apple-mobile-web-app-capable", content="yes")
	meta( name="apple-mobile-web-app-status-bar-style", content="black")
	// <script>(function(){var a;if(navigator.platform==="iPad"){a=window.orientation!==90||window.orientation===-90?"img/startup-tablet-landscape.png":"img/startup-tablet-portrait.png"}else{a=window.devicePixelRatio===2?"img/startup-retina.png":"img/startup.png"}document.write('<link rel="apple-touch-startup-image" href="'+a+'"/>')})()</script> 
	// The script prevents links from opening in mobile safari. https://gist.github.com/1042026 
	// <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script> 
	
	// Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading 
	meta( http-equiv="cleartype", content="on")
	
block style
	// Home screen icon  Mathias Bynens mathiasbynens.be/notes/touch-icons 
	// For iPhone 4 with high-resolution Retina display: 
	link( rel="apple-touch-icon-precomposed", sizes="114x114", href="img/h/apple-touch-icon.png")
	// For first-generation iPad: 
	link( rel="apple-touch-icon-precomposed", sizes="72x72", href="img/m/apple-touch-icon.png")
	// For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: 
	link( rel="apple-touch-icon-precomposed", href="img/l/apple-touch-icon-precomposed.png")
	// For nokia devices: 
	link( rel="shortcut icon", href="img/l/apple-touch-icon.png")
	
	link( rel="stylesheet", href="lib/codemirror.css")
	link( href="lib/CloudMD.css", media="all", rel="stylesheet", type="text/css")
	link( rel="stylesheet", href="theme/neat.css")
	link( rel="stylesheet", href="theme/elegant.css")
	link( rel="stylesheet", href="theme/night.css")
	link( rel="stylesheet", href="theme/monokai.css")
	link( rel="stylesheet", href="theme/cobalt.css")
	link( rel="stylesheet", href="theme/eclipse.css")
	link( rel="stylesheet", href="theme/rubyblue.css")
	link( rel="stylesheet", href="theme/lesser-dark.css")
	link( rel="stylesheet", href="theme/xq-dark.css")
	
	link( rel="stylesheet", href="lib/util/dialog.css")
	
	style.
		html, body{
			height:100%;
			width:100%;
		}
		
		.CodeMirror {}
		span.CodeMirror-matchhighlight { background: #e9e9e9 }
		.CodeMirror-focused span.CodeMirror-matchhighlight { background: #e7e4ff; !important }
		
		.activeline {background: #e8f2ff !important;}
		#container
		{
			display:-moz-box; /* Firefox */
			display:-webkit-box; /* Safari and Chrome */
			display:box;
			width:100%;
			height:100%
		}
		#code
		{
			-moz-box-flex:1.0; /* Firefox */
			-webkit-box-flex:1.0; /* Safari and Chrome */
			box-flex:1.0;
			overflow:scroll;
			position:relative;
		}
		
		#preview
		{
			-moz-box-flex:1.0; /* Firefox */
			-webkit-box-flex:1.0; /* Safari and Chrome */
			box-flex:1.0;
			overflow:scroll;
			position:relative;
		}
		
block scripts
	script( src="lib/codemirror.js")
	script( src="lib/util/formatting.js")
	script( src="lib/util/foldcode.js")
	
	script( src="lib/util/searchcursor.js")
	script( src="lib/util/search.js")
	
	script( src="lib/util/match-highlighter.js")
	
	script( src="mode/xml/xml.js")
	script( src="mode/markdown/markdown.js")
	
	script( src="lib/marked.js")
	script( src="lib/dat.gui.js")
	script( src="lib/FileSaver.js")
	script( src="lib/BlobBuilder.js")
	script( src="lib/vendor/json2.js")
	script( src="lib/vendor/jquery-1.7.1.js")
	script( src="lib/vendor/underscore-1.3.1.js")
	script( src="lib/backbone-min.js")
	script( src="lib/backbone-localstorage.js")
	script( src="lib/CloudMD.js")
	
block content
	#container
		#code
			.expand
				<svg style="overflow-x: hidden; overflow-y: hidden; " height="40" version="1.1" width="40" xmlns="http://www.w3.org/2000/svg"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); ">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); "><linearGradient style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " id="8290-_0050af-_002c62" x1="0" y1="1" x2="6.123233995736766e-17" y2="0" gradientTransform="matrix(1,0,0,1,-4,-4)"><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="0%" stop-color="#0050af"></stop><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="100%" stop-color="#002c62"></stop></linearGradient></defs><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; opacity: 0; " fill="none" stroke="#ffffff" d="M25.545,23.328L17.918,15.623L25.534,8.007L27.391,9.864L29.649,1.436L21.222,3.694L23.058,5.53L15.455,13.134L7.942,5.543L9.809,3.696L1.393,1.394L3.608,9.833L5.456,8.005L12.98,15.608L5.465,23.123L3.609,21.268L1.351,29.695L9.779,27.438L7.941,25.6L15.443,18.098L23.057,25.791L21.19,27.638L29.606,29.939L27.393,21.5Z" stroke-width="3" stroke-linejoin="round" opacity="0" transform="matrix(1,0,0,1,4,4)"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1; " fill="url(#8290-_0050af-_002c62)" stroke="none" d="M25.545,23.328L17.918,15.623L25.534,8.007L27.391,9.864L29.649,1.436L21.222,3.694L23.058,5.53L15.455,13.134L7.942,5.543L9.809,3.696L1.393,1.394L3.608,9.833L5.456,8.005L12.98,15.608L5.465,23.123L3.609,21.268L1.351,29.695L9.779,27.438L7.941,25.6L15.443,18.098L23.057,25.791L21.19,27.638L29.606,29.939L27.393,21.5Z" transform="matrix(1,0,0,1,4,4)" opacity="1" fill-opacity="1"></path><rect style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; " x="0" y="0" width="32" height="32" r="0" rx="0" ry="0" fill="#000000" stroke="#000" opacity="0"></rect></svg>
		#preview
			.expand
				<svg style="overflow-x: hidden; overflow-y: hidden; " height="40" version="1.1" width="40" xmlns="http://www.w3.org/2000/svg"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); ">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); "><linearGradient style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " id="8290-_0050af-_002c62" x1="0" y1="1" x2="6.123233995736766e-17" y2="0" gradientTransform="matrix(1,0,0,1,-4,-4)"><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="0%" stop-color="#0050af"></stop><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="100%" stop-color="#002c62"></stop></linearGradient></defs><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; opacity: 0; " fill="none" stroke="#ffffff" d="M25.545,23.328L17.918,15.623L25.534,8.007L27.391,9.864L29.649,1.436L21.222,3.694L23.058,5.53L15.455,13.134L7.942,5.543L9.809,3.696L1.393,1.394L3.608,9.833L5.456,8.005L12.98,15.608L5.465,23.123L3.609,21.268L1.351,29.695L9.779,27.438L7.941,25.6L15.443,18.098L23.057,25.791L21.19,27.638L29.606,29.939L27.393,21.5Z" stroke-width="3" stroke-linejoin="round" opacity="0" transform="matrix(1,0,0,1,4,4)"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1; " fill="url(#8290-_0050af-_002c62)" stroke="none" d="M25.545,23.328L17.918,15.623L25.534,8.007L27.391,9.864L29.649,1.436L21.222,3.694L23.058,5.53L15.455,13.134L7.942,5.543L9.809,3.696L1.393,1.394L3.608,9.833L5.456,8.005L12.98,15.608L5.465,23.123L3.609,21.268L1.351,29.695L9.779,27.438L7.941,25.6L15.443,18.098L23.057,25.791L21.19,27.638L29.606,29.939L27.393,21.5Z" transform="matrix(1,0,0,1,4,4)" opacity="1" fill-opacity="1"></path><rect style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; " x="0" y="0" width="32" height="32" r="0" rx="0" ry="0" fill="#000000" stroke="#000" opacity="0"></rect></svg>
			.preview_content
	#mdapp
		a#db_link
			<svg style="overflow-x: hidden; overflow-y: hidden;" height="40" version="1.1" width="40" xmlns="http://www.w3.org/2000/svg"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); ">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); "><linearGradient style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " id="55390-_0050af-_002c62" x1="0" y1="1" x2="6.123233995736766e-17" y2="0" gradientTransform="matrix(1,0,0,1,-4,-4)"><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="0%" stop-color="#0050af"></stop><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="100%" stop-color="#002c62"></stop></linearGradient></defs><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; opacity: 0; " fill="none" stroke="#ffffff" d="M17.078,22.004L15.32,17.875L13.313,22.627L5.7940000000000005,19.337999999999997L5.968000000000001,23.243L15.405000000000001,27.616999999999997L26.314,22.251999999999995L26.165,17.262999999999995L17.078,22.004ZM29.454,6.619L18.521,3.383L15.515,6.054L12.424,3.6950000000000003L1.546,8.199L5.341,11.247L1.9080000000000004,16.549L12.786999999999999,21.305999999999997L15.316999999999998,15.307999999999996L17.573999999999998,20.615999999999996L28.967,14.673999999999996L25.862,9.964999999999996L29.454,6.619ZM15.277,14.579L6.218,10.749L15.493,6.648000000000001L25.101,9.903L15.277,14.579Z" stroke-width="3" stroke-linejoin="round" opacity="0" transform="matrix(1,0,0,1,4,4)"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1; " fill="url(#55390-_0050af-_002c62)" stroke="none" d="M17.078,22.004L15.32,17.875L13.313,22.627L5.7940000000000005,19.337999999999997L5.968000000000001,23.243L15.405000000000001,27.616999999999997L26.314,22.251999999999995L26.165,17.262999999999995L17.078,22.004ZM29.454,6.619L18.521,3.383L15.515,6.054L12.424,3.6950000000000003L1.546,8.199L5.341,11.247L1.9080000000000004,16.549L12.786999999999999,21.305999999999997L15.316999999999998,15.307999999999996L17.573999999999998,20.615999999999996L28.967,14.673999999999996L25.862,9.964999999999996L29.454,6.619ZM15.277,14.579L6.218,10.749L15.493,6.648000000000001L25.101,9.903L15.277,14.579Z" transform="matrix(1,0,0,1,4,4)" opacity="1" fill-opacity="1"></path><rect style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; " x="0" y="0" width="32" height="32" r="0" rx="0" ry="0" fill="#000000" stroke="#000" opacity="0"></rect></svg>
	
		#title
			h1 MarkDowns
	
		#content
			
			#docs
				ul(id = "app-list")
				
			ul( id="instructions")
				li Double-click to edit a documents name
			//
				#credits
	
	//Templates
	
	script(type="text/template", id="document-template").
		<div class="view">
			<label class="document-text"><%= name %></label>
			<p><a class="document-download">download</a>
			<a class="document-download-html">html</a></p>
			<a class="document-destroy"></a>
			<svg class="sync" style="overflow: hidden; position: absolute; right: 20px; top: 10px; display:none;" height="40" version="1.1" width="40" xmlns="http://www.w3.org/2000/svg"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); ">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); "><linearGradient style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " id="7390-_0050af-_002c62" x1="0" y1="1" x2="6.123031769111886e-17" y2="0" gradientTransform="matrix(1,0,0,1,-4,-4)"><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="0%" stop-color="#0050af"></stop><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="100%" stop-color="#002c62"></stop></linearGradient></defs><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; opacity: 0; " fill="none" stroke="#ffffff" d="M24.249,15.499C24.24,20.331,20.331,24.240000000000002,15.498999999999999,24.249000000000002C12.983999999999998,24.249000000000002,10.730999999999998,23.185000000000002,9.133999999999999,21.486000000000004L11.201999999999998,20.044000000000004L3.3009999999999984,16.341000000000005L4.044999999999998,25.035000000000004L6.237999999999998,23.506000000000004C8.481999999999998,26.100000000000005,11.799999999999997,27.748000000000005,15.497999999999998,27.748000000000005C22.264999999999997,27.748000000000005,27.747,22.266000000000005,27.747,15.499000000000004H24.249ZM15.499,6.75C18.015,6.75,20.268,7.8149999999999995,21.866,9.514L19.798,10.956999999999999L27.698999999999998,14.658L26.953,5.965L24.761,7.494C22.516,4.9,19.198999999999998,3.2489999999999997,15.498999999999999,3.2489999999999997C8.734,3.25,3.25,8.734,3.249,15.499H6.75C6.758,10.668,10.668,6.758,15.499,6.75Z" stroke-width="3" stroke-linejoin="round" opacity="0" transform="matrix(1,0,0,1,4,4)"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1; " fill="url(#7390-_0050af-_002c62)" stroke="none" d="M24.249,15.499C24.24,20.331,20.331,24.240000000000002,15.498999999999999,24.249000000000002C12.983999999999998,24.249000000000002,10.730999999999998,23.185000000000002,9.133999999999999,21.486000000000004L11.201999999999998,20.044000000000004L3.3009999999999984,16.341000000000005L4.044999999999998,25.035000000000004L6.237999999999998,23.506000000000004C8.481999999999998,26.100000000000005,11.799999999999997,27.748000000000005,15.497999999999998,27.748000000000005C22.264999999999997,27.748000000000005,27.747,22.266000000000005,27.747,15.499000000000004H24.249ZM15.499,6.75C18.015,6.75,20.268,7.8149999999999995,21.866,9.514L19.798,10.956999999999999L27.698999999999998,14.658L26.953,5.965L24.761,7.494C22.516,4.9,19.198999999999998,3.2489999999999997,15.498999999999999,3.2489999999999997C8.734,3.25,3.25,8.734,3.249,15.499H6.75C6.758,10.668,10.668,6.758,15.499,6.75Z" transform="matrix(1,0,0,1,4,4)" opacity="1" fill-opacity="1"></path><rect style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; " x="0" y="0" width="32" height="32" r="0" rx="0" ry="0" fill="#000000" stroke="#000" opacity="0"></rect></svg>
			<svg class="check" style="overflow: hidden; position: absolute; right: 10px; top: 10px; display:none; " height="40" version="1.1" width="40" xmlns="http://www.w3.org/2000/svg"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); ">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); "><linearGradient style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " id="43690-_0050af-_002c62" x1="0" y1="1" x2="6.123031769111886e-17" y2="0" gradientTransform="matrix(1,0,0,1,-4,-4)"><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="0%" stop-color="#0050af"></stop><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="100%" stop-color="#002c62"></stop></linearGradient></defs><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; opacity: 0; " fill="none" stroke="#ffffff" d="M2.379,14.729L5.208,11.899L12.958,19.648L25.877,6.733L28.707,9.561L12.958,25.308Z" stroke-width="3" stroke-linejoin="round" opacity="0" transform="matrix(1,0,0,1,4,4)"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1; " fill="url(#43690-_0050af-_002c62)" stroke="none" d="M2.379,14.729L5.208,11.899L12.958,19.648L25.877,6.733L28.707,9.561L12.958,25.308Z" transform="matrix(1,0,0,1,4,4)" opacity="1" fill-opacity="1"></path><rect style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; " x="0" y="0" width="32" height="32" r="0" rx="0" ry="0" fill="#000000" stroke="#000" opacity="0"></rect></svg>
			<svg clas="failed_sync" style="overflow: hidden; position: absolute; right: 10px; top: 10px; display:none; " height="40" version="1.1" width="40" xmlns="http://www.w3.org/2000/svg"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); ">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); "><linearGradient style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " id="43390-_0050af-_002c62" x1="0" y1="1" x2="6.123031769111886e-17" y2="0" gradientTransform="matrix(1,0,0,1,-4,-4)"><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="0%" stop-color="#0050af"></stop><stop style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); " offset="100%" stop-color="#002c62"></stop></linearGradient></defs><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; opacity: 0; " fill="none" stroke="#ffffff" d="M24.778,21.419L19.276,15.917L24.777,10.415L21.949,7.585L16.447,13.087L10.945,7.585L8.117,10.415L13.618,15.917L8.116,21.419L10.946,24.248L16.447,18.746L21.948,24.248Z" stroke-width="3" stroke-linejoin="round" opacity="0" transform="matrix(1,0,0,1,4,4)"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1; " fill="url(#43390-_0050af-_002c62)" stroke="none" d="M24.778,21.419L19.276,15.917L24.777,10.415L21.949,7.585L16.447,13.087L10.945,7.585L8.117,10.415L13.618,15.917L8.116,21.419L10.946,24.248L16.447,18.746L21.948,24.248Z" transform="matrix(1,0,0,1,4,4)" opacity="1" fill-opacity="1"></path><rect style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; " x="0" y="0" width="32" height="32" r="0" rx="0" ry="0" fill="#000000" stroke="#000" opacity="0"></rect></svg>
		</div>
		<div class="edit">
			<input class="document-input" type="text" value="<%= name %>" />
		</div>

	script(type="text/template", id="document-editor-template")
		.code
		.preview
  
	script(type="text/template", id="document-list-template")
		.create-doc
				input(class="new-doc", placeholder="untitled", type="text")
				span(class="ui-tooltip-top", style="display:none;") Press Enter to save this task
		ul(class = "doc-list")
			
		
	script(type="text/template", id="folder-template").
		<div class="view">
			<label class="document-text"><%= path %></label>
		</div>
//		
	script(type="text/template", id="folder-list-template")
		.create-file
				input(class="new-file", placeholder="untitled", type="text")
				span(class="ui-tooltip-top", style="display:none;") Press Enter to save this task
		ul(class = "file-list")